[submodule "tree"]
	path = tree
	url = https://github.com/JMGillum/python-tree.git
[submodule "db"]
	path = database
	url = git@github.com:JMGillum/coin-data.git
[submodule "treasure"]
	path = treasure
	url = git@github.com:JMGillum/treasure.git
